__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
*.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
node_modules
*.sqlite
*.db
output/
logs/

# Exclude media files everywhere except in the static folder
*.mp3
*.wav
*.mp4
*.avi
*.mov
!static/**/*.mp3
!static/**/*.wav
!static/**/*.mp4
!static/**/*.avi
!static/**/*.mov